<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误消息页面</title>
    <!--css-->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--js-->
    <script src="/webjars/jquery/1.12.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-sm-12 text-center">
    <h1>错误消息页面</h1>
    <h3><a href="/">返回首页</a></h3>
    <hr />
    <h3>错误消息提示</h3>
    <h5>${errMessage}</h5>
</div>
</body>
</html>