<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
    <!--css-->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--js-->
    <script src="/webjars/jquery/1.12.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-sm-12 text-center">
    <h1>欢迎来到Security Login引导页！</h1>
    <h3>我是你的私人秘书MM</h3>
    <hr />
    <h5><a href="login/userName">用户名密码登录页</a></h5>
    <h5><a href="login/mobile">手机验证码登录页</a></h5>
    <h5><a href="login/test">登录测试页面</a></h5>
</div>
</body>
</html>