<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户名密码登录页</title>
    <!--css-->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--js-->
    <script src="/webjars/jquery/1.12.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-sm-12 text-center">
    <h1>用户名密码登录页！</h1>
    <a href="/login/mobile">手机号登录</a>
    <hr/>
    <form action="/authentication/namepass" method="post">
        用户名:<input type="text" name="username"><br />
        密xx码:<input type="password" name="password"><br/>
        <!--验证码:<input type="text" name="imageCode"><br/>-->
        <!--<img src="/code/image"><br/>-->
        <input name="remember-me" type="checkbox" value="true" />记住我</td>
        <button type="submit">登录</button>
    </form>
</div>
</body>
</html>