<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户名密码登录页</title>
    <!--css-->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--js-->
    <script src="/webjars/jquery/1.12.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-sm-12 text-center">
    <h1>用户名密码登录页！</h1>
    <a href="/login/mobile">手机号登录</a>
    <hr/>
    <form action="/authentication/namepass" method="post">
        用户名:<input type="text" name="username"><br/>
        密xx码:<input type="password" name="password"><br/>
        验证码:<input type="text" name="imageCode"><br/>
        <img id="iamge" onclick="getImage()" src="/code/image"/><br/>
        <input name="remember-me" type="checkbox" value="true"/>记住我</td>
        <button type="submit">登录</button>
    </form>
</div>

<script>
    function getImage() {
        //Jquery ajax不支持接受流，失败。
        // $.ajax({
        //         url: "/code/image",
        //         type: "get",
        //         // dataType:"blob",
        //         success: function (response) {
        //             //将返回值赋给img
        //             $("#iamge").attr("src",response);
        //         },
        //         error: function (response) {
        //             console.log("错误信息！")
        //             console.log(response)
        //         }
        //     })
        //自己写
        var xhr = new XMLHttpRequest();
        xhr.open("get", "/code/image", true);
        //接受结果的类型是blob(二进制流)
        xhr.responseType = "blob";
        xhr.onload = function () {
            if (this.status == 200) {
                var blob = this.response;
                $("#iamge").attr("src",window.URL.createObjectURL(blob));
            }
        }
        xhr.send()
    }
</script>
</body>
</html>